* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(106, 103, 103);

}

.itemlistcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
    background-color: rgb(106, 103, 103);
    padding: 10px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: black;
    color: white;
    height: 2.5rem;
    width: 100%;
}