* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.itemlistcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    background-color: rgba(188, 188, 188, 0.535);
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.73);
    color: white;
    height: 2.5rem;
    width: 100%;
}