footer {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    background-color: black;
    align-items: center;
    padding: 30px;
}

footer img {
    height: 3.5rem;
    position: relative;
}

footer li {
    list-style-type: none;
}

.title-navbar {
    position: relative;
    bottom: 1rem;
    color: white;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    }

ul li {
    list-style-type: none;
}

ul li a {
    color: white;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 2px 0px 2px rgba(255, 255, 255, 0.42);
}

.abrir-menu, .cerrar-menu {
    display: none;
}

.nav-footer {
    display: flex;
}